.cardContainer{
width: 600px;
height: 559px;
display: flex;
 flex-direction: column;
 align-items: center;
 flex-wrap: wrap;
 flex-shrink: 1;
 justify-content: space-evenly;
}

.HomeContainer{
    justify-content: center; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: row;
    margin-top: 98px;
}
.fundooContainer{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}

.lables{
    display: flex;
    justify-content: center;
    margin-bottom: -43px;
    font-size: 20px;
}

#emailText{
width: 27em;
}

#passwordText{
    width: 25em;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-contained{
    background-color: coral;
    width: 23em;
    height :58px;
    color:white;
    font-size: 20px;
}
