.cardsContainerForget{
    width: 600px;
    height: 400px;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     flex-shrink: 1;
     justify-content: space-evenly; 
     margin-top: 135px;
    }
    
    .Forget{
        justify-content: center; 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        flex-direction: row;
    } 

    .fundooContainer{
        display: flex;
        flex-direction: row;
        font-size: 40px;
    }

    .blue{
        color: blue;
    }

    .red{
        color: red;
    }

    .yellow{
        color: yellow;
    }
    
    .green{
        color: green;
    }

    #emailForget{
        width: 25em;
    }
    
    #submit{
        background-color: coral;
        width: 21.5em;
        height :50px;
        color:white;
        font-size: 20px;
    }