 #active{
   width: 600px;
   min-height: auto;
   padding: 20px;
   display: flex;
  flex-direction: column;
  overflow: visible;
 }
 #inactive{
   width: 600px;
   height: 10px;
   padding: 20px;
    color: rgb(184, 183, 183);
   border-color:  rgba($color:#F1F3F4, $alpha: 0.5);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .textFieldContainer{
   padding-top: 5px;
   width: 98%;
   overflow: visible;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
} 
#pin{
  height: 37px;
  overflow: visible;
  width: 25px;
}
#unPin{
  height: 37px;
  overflow: visible;
  width: 25px;
}
.textfield
{
    border-style: none;
    min-height: 30px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    overflow: visible;
}
.iconContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .mainCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  #image{
    margin-bottom: 10px;
  }
 #button{
  margin-right: 31px;
 }