.dialogContainer{
    width: 50em ;
    padding: 10px ;
    padding-top: 15px;
}
.Dialogue{
    min-width: 600px;
    min-height: 166px;
    padding: 15px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.Displays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

