#Card{
min-height: 115px;
padding: 14px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 250px;
margin: 10px;
background-color: white;
border-radius: 10px;
text-decoration: black;
// cursor: context-menu;
}
.users{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-left: 180px;
    margin-top: 2px;
}

.displayIcon{
    display: flex;
    padding-left: -10vh;
    opacity: 0%;
    color: black;
    flex-direction: row;
    margin-left: -15px;
    margin-bottom: -5px;
}
.dk:hover{
    border-radius: 10px;
    .displayIcon{
    opacity: 100%;
}
}