 #active{
   width: 600px;
   min-height: auto;
   padding: 20px;
   display: flex;
  flex-direction: column;
  overflow: visible;
  margin-top: -140px;
 }
 #inactive{
   width: 600px;
   height: 10px;
   padding: 20px;
    color: rgb(184, 183, 183);
   border-color:  rgba($color:#F1F3F4, $alpha: 0.5);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: -140px;
   align-items: center;
 }
 .textFieldContainer{
   padding-top: 5px;
   width: 98%;
   height: 45px;
   overflow: visible;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
} 
#pin{
  height: 37px;
  overflow: visible;
  width: 25px;
}
#unPin{
  height: 37px;
  overflow: visible;
  width: 25px;
}
.textfield
{
    border-style: none;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    overflow: visible;
}
.iconContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -13px;
  margin-bottom: -10px;
}
 .mainCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
 #button{
  margin-right: 31px;
 }

 #NoteColor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  height: 120px;
 }
 .palletColor{
  width: 27px;
  height: 27px;
  margin:1px;
  border-radius: 50%;
 }
 .palletColor:hover{
  border: 2px solid black;
}
 #pallet{
  border-radius: 50%;
 }
 #cards{
  width: 270px;
  height: 270px;
  display: flex;
  position: absolute;
  right: 8px;
  top: 65px;
  border-radius: 7px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  margin-top: 195px;
  margin-right: 770px;
 }
 .reminderMe{
  display: flex;
  height: 73%;
  flex-direction: column;
  justify-content: space-between;
  width: 226px;
 }
 .Reminder{
   background-color:darkblue;
 }
 .week{
  display: flex;
  justify-content: space-between;
  width: 137px;
}
.arrowss{
  display: flex;
  justify-content: start;
  width: 77%;
padding-top: 10px;
padding-bottom: 10px;
}
.time{
  width: 77%;
    display: flex;
    justify-content: center;
}
.bor{
  width: 100%;
  border-bottom: groove;
  border-width: 0.5px;
}
#cardss{
  width: 270px;
  height: 270px;
  // display: flex;
  // position: absolute;
  // right: 8px;
  // top: 65px;
  // border-radius: 7px;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-direction: column;
  // z-index: 1000;
  // margin-top: 195px;
  // margin-right: 770px;
}
 